<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>What2Watch</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/bootstrap.css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">

    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'inicio' %}" class="navbar-brand">What to Watch</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

        {% block base_login %} {% endblock %}
        </div>
      </div>
    </div>
    <div class='container'>
      {% block content %} {% endblock %}
    </div>
  </body>
</html>